.width100 {
    width: 100%;
    display: inline-flex;
    padding: 20px 5px;
}
.width65 {
    width: 65%;
}
.width35 {
    width: 35%;
}
.padding {
    padding-top: 80px;
}
.company-name {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}
.logo {
    margin-block-start: 1.33em;
}