<div class="padding">
    <div class="row">
        <div class="col-xs-12">
            <h2>List of Companies</h2>
            <div 
               *ngFor="let selectedCompany of dataOfCompanies">
                <div class="width100">
                    <div class="width65">
                        <div class="company-name" (click)="openLayer(); showContacts(selectedCompany)">
                            <span style="cursor: pointer; text-decoration: underline;">
                                {{ selectedCompany.name }}
                            </span>
                        </div>
                        <span class="company-description">{{ selectedCompany.description }}</span>
                    </div>
                    <span class="width35 logo">
                        <img 
                             [src] = "selectedCompany.logo"
                             alt="{{ selectedCompany.name }}" 
                             style="max-height: 50px; float: right; margin-right: 50px;"
                         > 
                    </span>
                </div>
            
            </div>        
        </div>
    </div>

</div>

<ng-template #contactsLayer>
    <mat-dialog-content>
        <div class="close-layer" (click)="closeLayer()">Close</div>
        <div style="font-weight: bold;">Contact Person :: </div>
        <div *ngIf="showAvailableContacts && availableContacts">
            <div *ngFor="let contact of availableContacts" style="padding: 15px 0px; min-width: 500px;" class="width100">
                <div class="width65">
                    <div>Name  :   {{contact.name}}</div>
                    <div>Country  :   {{contact.country}}</div>
                    <div>Phone  :   {{contact.phone}}</div>
                </div>
                <div class="width35">
                    <button>Add</button> | <button>Edit</button> | <button (click)="deleteRecord(contact)">Delete</button>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>